@function powieksz($baza, $wspolczynnik) {
    @return $baza * $wspolczynnik;
}

h1 {
    color: rgb(216, 23, 113);
    background-color: rgb(105, 105, 105);
    width: 100%;
    margin: 0;
    padding: powieksz(5px, 1.5);
}