<p *ngIf="ladujeDane">ładuję listę produktów...</p>

<app-koszyk>
    
</app-koszyk>

    <table *ngIf="!ladujeDane">

        <tr>
            <th>id</th>
            <th>nazwa</th>
            <th>cena</th>
            <th>kategoria</th>
        
        </tr>
        
        <tr *ngFor="let produkt of pobraneProdukty">
            <td>{{produkt.id}}</td>
            <td>{{produkt.name}}</td>
            <td>{{produkt.cena | currencyConverter: 'USD'}}</td>
            <td>{{produkt.kategoria}}</td>
            <td><button (click)="dodajDoKOszyka(produkt.id, produkt.name)">do koszyka</button></td>

        </tr>

    </table>